
<h2>Manejo de Estados con RxJS y Signals</h2>
<br>
<nav class="top-nav">
  <ul class="menu-items">
    <li routerLinkActive="active">
      <a routerLink="/angular-avanzado/manejo-estados/behavior-replay-subject/">Introducción a BehaviorSubject y ReplaySubject.</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/angular-avanzado/manejo-estados/contador-signals">Uso de Signals en Angular 16 para manejo eficiente del estado.</a>
    </li>
  </ul>

</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
