<h2>Comunicación entre Componentes</h2>
<br>
<nav>
  <a routerLink="/comunicacion/padre" routerLinkActive="active">Componente Padre @Input</a> |
  <a routerLink="/comunicacion/hijo" routerLinkActive="active">Componente Hijo @Output</a> |
  <a routerLink="/comunicacion/vista-a" routerLinkActive="active">Componente Vista A comunicación por servicio</a> |
  <a routerLink="/comunicacion/vista-b" routerLinkActive="active">Componente Vista B comunicación por servicio</a>
</nav>
<router-outlet></router-outlet>
