<h2>Bienvenido al modulo Seguridad En Angular</h2>
<br>
<nav class="top-nav">
    <ul class="menu-items">
        <li routerLinkActive="active">
            <a routerLink="/angular-avanzado/seguridad-angular/guards">Guards</a>
        </li>
        <li class="separator"></li>
        <li routerLinkActive="active">
            <a routerLink="/angular-avanzado/seguridad-angular/http-interceptor">HttpInterseptors</a>
        </li>
    </ul>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
