<nav class="top-nav">
  <ul class="menu-items">
    <li routerLinkActive="active">
      <a routerLink="/servicios-routing-forms/saludador">Servicios e Inyección de Dependencias</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/servicios-routing-forms/parametros-ruta/1">Módulos y Routing</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/servicios-routing-forms/tipos-formularios">Formularios Reactivos y Template-driven</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/servicios-routing-forms/comunicacion">Comunicación entre Componentes</a>
    </li>
  </ul>

</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
