<h2>Uso de HttpInterceptor para manejo de tokens</h2>
<br>
<nav>
    <ul class="menu-items">
        <li routerLinkActive="active">
            <a routerLink="/angular-avanzado/seguridad-angular/http-interceptor/login2">Login / Logout</a>
        </li>
        <li class="separator"></li>
        <li routerLinkActive="active">
            <a routerLink="/angular-avanzado/seguridad-angular/http-interceptor/protected">Contenido Protegido</a>
        </li>
    </ul>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>

