<h2>Bienvenido al modulo Introducción y Fundamentos de Angular</h2>
<br>
<nav>
    <ul class="menu-items">
        <li routerLinkActive="active">
            <a routerLink="/introduccion-angular/componentes-angular">Componentes en Angular</a>
        </li>
        <li class="separator"></li>
        <li routerLinkActive="active">
            <a routerLink="/introduccion-angular/data-binding-directivas">Data Binding y Directivas Básicas</a>
        </li>
    </ul>
</nav>
<div class="content">
    <router-outlet></router-outlet>
</div>
