<h1>{{title}}</h1>
<!--<button (click)="mostrarContador = !mostrarContador">Mostrar/Ocultar Contador</button>-->
<!--<app-ciclo-vida *ngIf="mostrarContador"></app-ciclo-vida>-->

<!--<app-data-binding></app-data-binding>-->

<!--<app-directivas-estruct></app-directivas-estruct>-->

<!--<app-directivas-atributo></app-directivas-atributo>-->

<!--<app-saludador></app-saludador>-->

<!--<app-lista-usuarios></app-lista-usuarios>-->

<!--<app-registro></app-registro>-->

<!--<app-registro-reactive></app-registro-reactive>-->

<!--<app-registro-custom></app-registro-custom>-->

<nav class="top-nav">
  <ul class="menu-items">
    <li routerLinkActive="active">
      <a routerLink="/inicio">Inicio</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/introduccion-angular">Introducción y Fundamentos de Angular</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/servicios-routing-forms">Servicios, Routing y Formularios</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/angular-avanzado">Angular Avanzado</a>
    </li>
    <!--
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/usuarios">Usuarios</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/productos">Productos</a>
    </li>-->
  </ul>

</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>

<br>
<img
class="logo-angular"
src="https://media.licdn.com/dms/image/v2/D5612AQEmaeUCJ9kaIw/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1683652526209?e=2147483647&v=beta&t=h1EMi5GvNT-AKvcBa6S_7UURuck8h07XzFwhIAi5SXM"
alt="imagen de angular 16"
>
<p>Esta Aplicación en Angular 16 esta hecha para explicar de manera clara y por temas sus capacidades!!</p>
<!--<app-behavior-replay-subject></app-behavior-replay-subject>-->

<!--<app-contador-signals></app-contador-signals>-->
