<h1>{{title}}</h1>
<!--<button (click)="mostrarContador = !mostrarContador">Mostrar/Ocultar Contador</button>-->
<!--<app-ciclo-vida *ngIf="mostrarContador"></app-ciclo-vida>-->

<!--<app-data-binding></app-data-binding>-->

<!--<app-directivas-estruct></app-directivas-estruct>-->

<!--<app-directivas-atributo></app-directivas-atributo>-->

<!--<app-saludador></app-saludador>-->

<!--<app-lista-usuarios></app-lista-usuarios>-->

<!--<app-registro></app-registro>-->

<!--<app-registro-reactive></app-registro-reactive>-->

<!--<app-registro-custom></app-registro-custom>-->

<nav>
  <a routerLink="/inicio" routerLinkActive="active">Inicio</a> |
  <a routerLink="/componentes-angular" routerLinkActive="active">Componentes en Angular</a>
</nav>
<router-outlet></router-outlet>
