<h1>{{title}}</h1>
<!--<button (click)="mostrarContador = !mostrarContador">Mostrar/Ocultar Contador</button>-->
<!--<app-ciclo-vida *ngIf="mostrarContador"></app-ciclo-vida>-->

<!--<app-data-binding></app-data-binding>-->

<!--<app-directivas-estruct></app-directivas-estruct>-->

<!--<app-directivas-atributo></app-directivas-atributo>-->

<!--<app-saludador></app-saludador>-->

<!--<app-lista-usuarios></app-lista-usuarios>-->

<!--<app-registro></app-registro>-->

<!--<app-registro-reactive></app-registro-reactive>-->

<!--<app-registro-custom></app-registro-custom>-->

<nav class="top-nav">
  <ul class="menu-items">
    <li routerLinkActive="active">
      <a routerLink="/inicio">Inicio</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
    </li>
    <a routerLink="/componentes-angular">Componentes en Angular</a>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/data-bindig-directivas">Data Binding y Directivas</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/parametros-ruta">Módulos y Routing</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/comunicacion">Comunicación entre Componentes</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/pipes-operaciones-async">Pipes y Operaciones Asíncronas</a>
    </li>
  </ul>

</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
