<nav class="top-nav">
  <ul class="menu-items">
    <li routerLinkActive="active">
      <a routerLink="/angular-avanzado/pipes-operaciones-async">Pipes y Operaciones Asíncronas</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/angular-avanzado/manejo-estados">Manejo de Estados con RxJS y Signals</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/angular-avanzado/tipos-formularios">Lazy Loading y Optimización de la Aplicación</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/angular-avanzado/seguridad-angular">Seguridad en Angular</a>
    </li>
  </ul>

</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
