<h2>Pipe con Observables (Operadores: map, filter, tap)</h2>
<br>
<br>
<br>
<h3>Ejemplo del operador 'map'</h3>
<p>Usuarios Originales: {{ usuariosOriginales | async | json }}</p>
<p>Usuarios Formateados: {{ usuariosFormateados | async | json }}</p>
<br>
<br>
<h2>Ejemplo del operador 'filter'</h2>
<p>Números Originales: {{ numerosOriginales | async | json }}</p>
<p>Números Pares: {{ numerosPares | async | json }}</p>
<br>
<br>
<h3>Ejemplo del operador 'tap'</h3>
<p>Números Originales: {{ numerosOriginales | async | json }}</p>
<p>Resultado (ver consola): {{ resultado | async | json }}</p>
