<h2>Usando Guards(Guardianes) CanActivate y CanDeactivate En Angular</h2>
<br>
<nav class="top-nav">
    <ul class="menu-items">
        <li routerLinkActive="active">
            <a routerLink="/angular-avanzado/seguridad-angular/guards/home">Home</a>
        </li>
        <li class="separator"></li>
        <li routerLinkActive="active">
            <a routerLink="/angular-avanzado/seguridad-angular/guards/dashboard">Dashboard</a>
        </li>
        <li class="separator"></li>
        <li routerLinkActive="active">
            <a routerLink="/angular-avanzado/seguridad-angular/guards/edicion">Edicion</a>
        </li>
        <li class="separator"></li>
        <li routerLinkActive="active">
            <a routerLink="/angular-avanzado/seguridad-angular/guards/login">Login</a>
        </li>
    </ul>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
