<h2>Formularios Reactivos y Template-driven</h2>
<br>
<nav class="top-nav">
  <ul class="menu-items">
    <li routerLinkActive="active">
      <a routerLink="/servicios-routing-forms/tipos-formularios/registro">Registro (Template-driven Forms)</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/servicios-routing-forms/tipos-formularios/registro-reactive">Registro Reactivo (Reactive Forms)</a>
    </li>
    <li class="separator"></li>
    <li routerLinkActive="active">
      <a routerLink="/servicios-routing-forms/tipos-formularios/registro-custom">Registro Custom (Validaciones personalizadas)</a>
    </li>
  </ul>

</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
