<h2>Data Binding y Directivas Básicas</h2>
<div class="sidebar">
  <div class="logo">Contenido</div>
  <ul class="menu-items">
    <li routerLinkActive="active">
      <a routerLink="/introduccion-angular/data-bindig-directivas/data-binding">
        <i class="fas fa-home"></i> Data binding
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/introduccion-angular/data-bindig-directivas/directivas-estructurales">
        <i class="fas fa-box"></i> Directivas Estructurales
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/introduccion-angular/data-bindig-directivas/directivas-atributo">
        <i class="fas fa-cogs"></i> directivas de Atributo
      </a>
    </li>
  </ul>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
